.content[data-state='open'] {
	animation: slideDown 200ms ease-out; /*(0.87, 0, 0.13, 1); */
}
.content[data-state='closed'] {
	animation: slideUp 200ms ease-out; /*(0.87, 0, 0.13, 1); */
}
.meditation.video {
	margin: 0.5rem 0;

	color: var(--lightBlue);
	font-weight: 600;
}
.meditation.video iframe {
	max-width: 100%;
	height: auto;
	aspect-ratio: 16/9;
}
.meditation.video button {
	margin-bottom: 1rem;
}
.meditation.video[data-state='open'] {
	color: var(--yellow);
}
